
div {
    margin-top: 10em;
    text-align: center;
}

button {
    background-color: rgba(246, 100, 70, 1);
    border-color: rgba(0, 0, 0, 0.19);
    border: solid;
    color: white;
    font-weight: bold;
    font-size: -3em;
    width: 8em;
    height: 2.8em;
    border-width: 1px; 
    border-radius: 1em;
}

button:hover{
    cursor: pointer;
}
