body{
    background-color: white;
    justify-content: center;
}

div {
    margin-top: 10em;
    text-align: center;
}

.menu {
    margin-top: 5em;
    display: flex;
}

.row {
    display: flex;
}

.column {
    padding-top: 2em;
    flex: 50%;
    
}

.borderTimer {
    background: linear-gradient(to bottom right, red, yellow);
    border-radius: 100em;
    width: 19em;
    height: 19em;
    margin-top: -18em;
    margin-left: 8em;
    display: flex;
    justify-content: center;
}

.timer{
    background-color: white;
    border-radius: 100em;
    margin-top: 1em;
    width: 17em;
    height: 17em;
}

span {
    color: black;
    font-family: poppins;
    display: inline-block;
    padding-top: 1em;
    align-items: center;
    width: 17em;
    height: 2em;
    border-radius: 1em;
    border: solid;
    border-color:  gray;
    border-width: 0.5px;
}

#list {
    margin-top: -20em;
    margin-left: 8em;
    width: 25em;
    height: 30em;
    box-shadow: 5px 5px 5px black;
}

#timer {
    margin-top: 3.5em;
    font-family: aldrich;
    color: rgb(255, 0, 0);
}

button {
    width: 6.7em;
    height: 2.3em;
    border-radius: 100em;
    padding: 12px 16px;
    border: none;
    color: white;
    font-weight: bold;
    margin: 0 2em;
    font-size: 1em;
}

#adicionar {
    background-color: rgba(246, 100, 70, 1);
    border-color: rgba(0, 0, 0, 0.19);
    font-weight: thin;
    border: solid;
    font-size: -3em;
    width: 8em;
    height: 2.8em;
    border-width: 1px; 
    border-radius: 1em;
}

button:hover{
    cursor: pointer;
}

#start{
    width: 5em;
    height: 5em;
    background: linear-gradient(to  bottom right, red, yellow);
}

#voltar{
    background-color: rgba(246, 100, 70, 1);
    border-color: rgba(0, 0, 0, 0.19);
    font-weight: thin;
    border: solid;
    font-size: -3em;
    width: 8em;
    height: 2.8em;
    border-width: 1px; 
    border-radius: 1em;
}

#pause{ 
    width: 5em;
    height: 5em;
    background: linear-gradient(to  bottom right, red, yellow);
}